
/* Your CSS Code here. */
*{
	font-family:arial,sans-serif;
	margin:0px;
	box-sizing:border-box;
	padding:0px;
	
}


nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:aliceblue;
	box-shadow:0px 5px 10px black;
	padding:10px;
	flex-wrap:wrap;
}
.brand{
	font-size:25px;
	font-weight:900;
	
}
ul{
	display:flex;
	align-items:center;
}
li{
	list-style-type:none;
	
}
a{
	text-decoration:none;
	color:rgb(0,106,255);
	padding-inline:20px;
	font-size:20px;
	font-weight:900;
	
}
.btn{
	border:none;
	cursor:pointer;
	width:60px;
	padding:10px;
	font-size:15px;
	font-weight:bold;
	border-radius:5px;
	
}
h1{
	padding:15px;
	font-weight:bold;
	
}
.cards{
	display:flex;
	justify-content:space-around;
	align-items:center;
	gap:10px;
	padding:15px;
	flex-wrap:wrap;
}















